<!DOCTYPE html>
<html lang="en">
<head>
    <title>CIM-compatible Web App</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Created by Markus Andersen for group 8 in TTM4128</h3>
	    <h1>CIM-compatible Web App</h1>
	    <p><a class="btn btn-lg btn-success" href="{{ url_for('main') }}" role="button">HOME</a></p>
        </div>
        <div class="row marketing">
	    <div class="col-lg-5">
                <h4>Get info using CIM</h4>
		<div class="form-group">
		    <form action="/CIM" method="POST">
			<div class="col-lg-10">
			    <p><input type="text" class="form-control" name="name" value="http://ttm4128.item.ntnu.no:5988/cimom"></p>
			    <p><input class="btn btn-md btn-success" type="submit" name="my-form" value="GET"></p>
			</div>
    		    </form>
		    <p style="white-space: pre;">{{ os }}</p>
		    <p style="white-space: pre;">{{ interface }}</p>
		</div>
	    </div>
    	    <div class="col-lg-5">
		<h4>Get info using SNMP</h4>
		<div class="form-group">
		    <form action="/SNMP" method="POST">
			<div class="col-lg-6">
			    <p><input type="text" class="form-control" name="name" value="sahara30.item.ntnu.no"></p>
			    <p><input class="btn btn-md btn-success" type="submit" name="my-form" value="GET"></p>
			</div>
    		    </form>
		    <p style="word-wrap: break-word;">{{ snmp }}</p>
		    <p style="word-wrap: break-word;">{{ snmp_interface }}</p>
		</div>
            </div>
	</div>
        <footer class="footer">
            <p>&copy; Markus Andersen 2017</p>
        </footer>
    </div>
</body>
</html>
