<!DOCTYPE html>
<html lang="en">
<head>
    <title>CIM-compatible Web App</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Created by Markus Andersen for group 8 in TTM4128</h3>
	    <h1>CIM-compatible Web App</h1>
	    <p><a class="btn btn-lg btn-success" href="{{ url_for('main') }}" role="button">HOME</a></p>
        </div>
        <div class="row marketing">
	    <div class="col-lg-5">
                <h4>Get CIM Info</h4>
		<p><a class="btn btn-lg btn-success" href="{{ url_for('cim') }}" role="button">CIM</a></p>
		<p style="white-space: pre;">{{ interface }}</p>
		<p style="word-wrap: break-word;">{{ os }}</p>
	    </div>
    	    <div class="col-lg-5">
		<h4>Get SNMP Info</h4>
		<p><a class="btn btn-lg btn-success" href="{{ url_for('snmp') }}" role="button">SNMP</a></p>
		<p style="white-space: pre;">{{ snmp }}</p>
            </div>
	</div>
        <footer class="footer">
            <p>&copy; Markus Andersen 2017</p>
        </footer>
    </div>
</body>
</html>
